body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    color: #222;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin-bottom: 5px;
}

nav {
    margin-top: 20px;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* nav a:hover {
    text-decoration: underline;
} */

main {
    width: 93%;
    max-width: 950px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

a {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    border-top: 1px solid #ddd;
    background-color: white;
}



#publications li {
    /* font-size: 14px; */
    margin-bottom: 15px;
}

#publications li:last-child {
    margin-bottom: 0;
}

.research-list{
    columns:2;
}


/* ====================================================================================
                                    Project Cards
==================================================================================== */

.project-card {
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.project-card img {
    width: 87%;
    height: 150px;
    object-fit: contain;
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

.project-content {
    padding: 15px;
}

.project-content h3 {
    margin-top: 0;
}

.project-content p {
    margin-bottom: 0;
}

/* Laptop/Desktop: 3 columns */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Phone: 1 column */
@media (max-width: 700px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}











